<h1 style="text-align:center;padding-top:10%;">
    Register
    </h1>
    <div class="login">
      <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login(loginForm.value)">
        <p>
          <input type="email" placeholder="{{'LOGIN.EMAIL' | translate}}" formControlName="email">
        </p>
        <p>
          <input type="password" placeholder="{{'LOGIN.PASSWORD' | translate}}" formControlName="password">
        </p>
        <p>
          <input type="submit" value="{{'LOGIN.REGISTER' | translate}}">
        </p>
      </form>
    </div>
    